{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}ScentStock{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center me-2" href="{% url 'main:home_view' %}" style="margin-left: 15px;">
  <span class="material-symbols-outlined me-2" style="font-size: 1.5rem;">fragrance</span>
  ScentStock
</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
  {% if request.user.is_authenticated %}
   
  {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'main:login_view' %}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'main:signup_view' %}">Sign Up</a>
    </li>
  {% endif %}
</ul>
    </div>
  </div>
</nav>


{% endblock %}

{% block content %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% block extra_js %}{% endblock %}

<footer class="footer mt-auto py-3 bg-light text-center shadow-sm">
  <div class="container">
    <span class="text-muted">&copy; 2025 ScentStock. All rights reserved.</span>
  </div>
</footer>

</body>
</html>